<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Akar Corporation</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/cufon-yui.js"></script>
        <script type="text/javascript" src="js/Myriad_Pro_400-Myriad_Pro_700-Myriad_Pro_italic_400-Myriad_Pro_italic_700.font.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.easing.compatibility.js"></script>
        <script type="text/javascript" src="js/jcarousellite.js"></script>
        <script type="text/javascript" src="js/slider.js"></script>
        <script type="text/javascript" src="js/general.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header"><a href="index.html"><h1><strong>Akar</strong> Corporation</h1></a></div>
            <div id="nav"><div class="inner">
                    <ul>
                        <li><a href="index.html" class="current"><span class="link">Home</span></a></li>
                        <li><a href="about.html"><span class="link">Tentang Akar</span></a></li>
                        <li><a href="portfolio.html"><span class="link">Portofolio</span></a></li>
                        <li><a href="pelanggan.html"><span class="link">Pelanggan</span></a></li>
                        <li><a href="contact.html"><span class="link">Hubungi Kami</span></a></li>
                    </ul>
                </div></div>
            <div id="hold">
                <div id="featured">
                    <div class="sliderImages">
                        <ul class="slider-img-list">
                            <li><a href="" class="package1"><span>Percetakan Buku</span></a></li>
                            <li><a href="" class="package2"><span>Sertifikat Acara</span></a></li>
                            <li><a href="" class="package3"><span>seo</span></a></li>
                            <li><a href="" class="package4"><span>wordpress</span></a></li>
                            <li><a href="" class="package5"><span>global</span></a></li>
                        </ul>
                    </div>
                    <div class="arrows">
                        <a href="#" class="next"><span>next</span></a>
                        <a href="#" class="prev"><span>previous</span></a>
                    </div>
                    <div class="texthold"><div class="sliderText">
                            <ul class="slider-text-list">
                                <li>
                                    <h2>Percetakan <strong>Buku</strong></h2>
                                    <p>Kami menawarkan percetakan buku murah. Kualitas percetakan kami sangat baik, dengan berbagai jenis tingkatan warna baik itu grayscale maupun full color.</p>
                                    <a href="" class="more">read more</a>
                                </li>
                                <li>
                                    <h2>Percetakan <strong>Sertifikat Acara</strong></h2>
                                    <p>Berbagai acara besar memerlukan sertifikat untuk dibagikan kepada peserta. Kami menawarkan percetakan sertifikat dengan harga termurah dan kualitas terbaik mulai dari Rp 1 ribu.</p>
                                    <a href="" class="more">read more</a>
                                </li>
                                <li>
                                    <h2>Percetakan <strong>Kalender Kampanye</strong></h2>
                                    <p>Kalender sangat membantu dalam kegiatan kampanye penarikan massa. Kami menawarkan harga terbaik untuk membantu kampanye Anda.</p>
                                    <a href="" class="more">read more</a>
                                </li>
                                <li>
                                    <h2>Percetakan <strong>Spanduk</strong></h2>
                                    <p>Spanduk adalah reklame yang paling penting dalam publikasi di jalan dan tempat keramaian lain. Kami menyediakan spanduk kualitas digital dengan harga mulai dari Rp 17ribu per meter.</p>
                                    <a href="" class="more">read more</a>
                                </li>
                                <li>
                                    <h2>Percetakan <strong>Stiker</strong>.</h2>
                                    <p>Stiker merupakan alternatif publikasi yang cukup ampuh di masyarakat. Kami menyediakan jasa pembuatan stiker yang sangat murah. Produk stiker kami dapat Anda dinikmati mulai dari Rp 120,- .</p>
                                    <a href="" class="more">read more</a>
                                </li>
                            </ul>
                        </div></div>


                </div>
                <div id="services">
                    <div class="box"><img src="images/valid.png" width="64" height="64" alt="valid" />
                        <h3>Kualitas Terbaik</h3><p>Kami menawarkan kualitas produk yang terbaik.</p></div>

                    <div class="box"><img src="images/help.png" width="64" height="64" alt="help" />
                        <h3>Layanan Pelanggan</h3><p>Hubungi kami 0251-8624073, 085711513130 (Cepi)</p></div>

                    <div class="box2"><img src="images/clock.png" width="64" height="64" alt="clock"/>
                        <h3>Tepat Waktu</h3><p>Produk yang kami kerjakan akan diselesaikan tepat waktu.</p></div>
                </div>
                <div id="content">
                    <div id="leftcolumn">
                        <h2>Selamat datang di Akar Printing</h2>
                        <p><img src="images/logo_akar.png" width="150px" style="float: right; margin-left: 10px" />Akar Printing merupakan unit usaha yang menyediakan layanan Desain dan Cetak. Sejak awal dirintis Akar Printing bertekad untuk menyediakan jasa desain dan cetak yang Murah, Cepat dan Berkualitas.</p>

                        <p>Dengan dibekali semangat dan pengalaman yang cukup Akar Printing telah berhasil meyakinkan konsumen untuk tetap setia menggunakan jasanya sampai saat ini.</p>
                        <br />
                        <h2>Produk Akar Printing</h2>
                        <ul>
                            <li><h3>Jasa Desain</h3>
                                <p>Kami siap untuk membantu menuangkan ide-ide kreatif lewat karya desain grafis yang santun dan elegan. Untuk berbagai kebutuhan seperti: Desain Kartu  Nama, Undangan, Poster, Leaflet, Kalender, Buku, Majalah, Jurnal, Buletin, Buku Tahunan, Company Profil dan web design.</p></li>
                            <li><h3>Cetak Offset</h3>
                                <p>Cetak Buku, Majalah, Jurnal, Buletin, Poster, Leaflet, Undangan, Kartu Nama, Company Profil, Sertifikat, Kop Surat, Amplop dll</p></li>
                            <li><h3>Digital Print</h3>
                                <p>Spanduk, Baliho, X-Banner, Roll Banner, Back Drop, Oney Way Vision, Stiker Vinil dll</p></li>
                            <li><h3>Merchandise</h3>
                                <p>Pin, ID card, Payung, Gelas Mug, Jam Dingding dll</p></li>
                        </ul>

                        <div class="col1">
                            <h3>Perusahaan Kami</h3>
                            <img src="images/businesscards.jpg" width="246" height="118" alt="cards" class="border"/>
                            <p>CV. AKAR COPRORATION adalah perusahaan jasa yang didirikan pada tahun 2008 dan berlokasi di Bogor-Indonesia. Pada awal perndiriannya Akar Corp berfokus pada usaha percetakan dengan nama Akar Printing. seiring dengan berjalannya waktu maka kami telah memiliki unit usaha lain di bidang web design dan konveksi.
                                AKAR CORPORATION didirikan berdasarkan semangat kebersamaan dengan tekad dan cita yang tulus......
                                <a href="about.html">Selengkapnya</a></p>
                        </div>
                        <div class="col2">
                            <h3>Pelanggan Kami</h3>
                            <img src="images/clients.jpg" width="246" height="118" alt="cards" class="border"/>
                            <p>Perusahaan kami telah mampu melayani pelanggan dari  seluruh indonesia Dengan kemampuan team yang professional, ditambah harga penawaran yang murah, tentunya Akar Corporation menjadi pilihan terbaik untuk memenuhi kebutuhan Anda.... <a href="">Selengkapnya</a></p>
                        </div>
                    </div>
                    <div id="rightcolumn">
                        <h3>recent blog entries</h3>
                        <ul class="blog-entries">
                            <li class="bd">
                                <ul>
                                    <li class="image">
                                        <a href="#">
                                            <img src="images/thumb.jpg" alt="alternative text for image" title="image title here" >
                                        </a>

                                    </li>
                                    <li class="title"><span><a href="#" title="link title">Promo Bulan Desember</a></span></li>
                                    <li class="author">Author: Cepi</li>
                                    <li class="date">5 Desember 2010</li>
                                </ul>
                            </li>
                        </ul>
                        <h3>Testimonial</h3>
                        <ul>
                            <li class="testimonial">
                                <ul>
                                    <li class="extract">"Luar biasa..."</li>
                                    <li class="testimonial-main">Pekerjaan akar printing sangat berkualitas... Pelayanan baik dan tepat waktu</li>
                                    <li class="testimonial-author">by Joni Hermawan - Kopi GS</li>
                                </ul>
                            </li>
                            <li class="testimonial">
                                <ul>
                                    <li class="extract">"Tepat waktu...."</li>
                                    <li class="testimonial-main">Akar Printing memiliki komitmen yang tinggi untuk menyelesaikan program tepat waktu.... bahkan lebih cepat</li>
                                    <li class="testimonial-author">by Rani - Partai Hanura</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="outerhol">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="footer">
                    <div class="box">
                        <h3>Artikel Terbaru</h3>
                        <ul>
                            <li><a href="">Percetakan Buku</a></li>
                            <li><a href="">Promo Kalender Kampanye</a></li>
                            <li><a href="">Pembuatan Spanduk Murah</a></li>
                            <li><a href="">Cetak Poster Digital printing</a></li>
                            <li><a href="">Pembuatan Stiker Murah</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h3>Daftar Harga</h3>
                        <ul>
                            <li><a href="">Buku</a></li>
                            <li><a href="">Spanduk dan Baliho</a></li>
                            <li><a href="">Flyer</a></li>
                            <li><a href="">Poster</a></li>
                            <li><a href="">Stiker</a></li>
                        </ul>
                    </div>
                    <div class="box2">
                        <h3>Promo</h3>
                        <img src="images/promo.png" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="copyright"><a href="#">Akar Corporation</a></div>
            </div>
        </div>
    </body>
</html>
